header{
    background: #000;
    padding: 20px 0;
}
caixa{
      position: relative;
 width: 940px;
 margin:0 auto;
  }
  nav{
    position: absolute;
    top: 110 px;
    right: 0;
  }
  nav li{
     display: inline
     margin: 0 0 0 15px;
  }
  nav a {
    text-transform: uppercase;
    color: #000; ];
   font- weight:bold;
   font- size 22px;
   text-decoration: none;
}
nav a:hover{
        color: hsl(258, 98, 51);
         text-decoration: underline;
    }